#top {background-color:#232323; font-size:14}
#right {font-size:14}
#powerUps td span {padding:5px; color:#ababab; cursor:default}
#puTooltip {font-size:10; width:170}
#word {font-size:62; padding:4}
#letters {font-size:28; padding:5}
#letters-container {width:150px; border:1px solid #ababab; padding:10}
#chest {width:200; padding:2px; cursor:default; text-align:left; color:white}
#chestModal {text-align:center}
#wordChest {margin-top:2}
#info {color:#343434; font-size:10; font-style:italic}
#title {font-weight: bold}	
#bottom {border-top:2px solid #992626}
#version {font-size:11; color:#343434}
#currentAnnouncement {font-size:13}
#battle {background-color: #cdcdcd; padding:5; color:white}
#battle:hover {border:2px solid #ababab; cursor:default}
#battleArea {display:none}
#achievements {font-size:13}
#achievements span{padding:1px}