body {font-family:Rockwell}
table td, th{font-size:20}
span, div {-moz-user-select: none; -webkit-user-select: none; cursor:default}
progress {border-radius:4px; inset; height:20; width:99%; background-color:#f3f3f3; border:0}
progress::-moz-progress-bar {border-radius:4px; background: -moz-linear-gradient(bottom right, steelblue, lightblue)}
#levelUp {height:5; background-color:#cdcdcd}
progress #levelUp::-moz-progress-bar {background-color: #5AAC56}
#level {}

#title {font-size:30}
#money {border:1px solid green; padding:5}
#trophies {border:1px solid gold; padding:5}
#trophy {padding:0; border:1px solid gold; cursor:pointer}
#chance {border:1px solid steelblue; padding:5}
#top {padding:5}
td #total {background: -moz-linear-gradient(bottom right, #8DCF8A, #04B431)}

#manager, #trainers, #expPlayer, #popPlayer {background-color:#efefef; padding:5; cursor:pointer}
#managerText, #trainerText, #expPlayerText, #popPlayerText {cursor:pointer}
#manager:hover, #trainers:hover {background-color:#8DCF8A}

#upgradeManager, #upgradeTrainer, #upgradePopStar, #upgradeExpStar {display:none; cursor:pointer; color:white}
#upgradeManagerInfo, #upgradeTrainerInfo, #upgradeStarInfo {color:black; font-style:italic; font-size:14; visibility:hidden; position:absolute; margin-top:25; margin-left:-50; background-color:#dedede; padding:3}
#upgradeManager:hover #upgradeManagerInfo {visibility:visible}
#upgradeTrainer:hover #upgradeTrainerInfo {visibility:visible}
#upgradeStar:hover #upgradeStarInfo {visibility:visible}

#startSeason {border:2px dashed #ababab; padding:5; display:none; width:500; text-align:center}

#deleteData {cursor:pointer}
#resetConfirm {visibility:hidden; font-size:14; margin-top:-20}
#resetYes {color:red; cursor:pointer}
#resetNo {cursor:pointer}